@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
	background: url('./asset/img/df4e8ba28f912bf9cdf9fa0dfc196411.png');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Press Start 2P', cursive !important;
}

p{
	font-size: 60%;
}

.jumbotron{
	background-image:url('./asset/img/1024px-International_Pokémon_logo.svg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color:transparent !important;
}

.containerBtn{
	display: flex;
	flex-direction: row;
	width: 20%;
	margin:auto;
}

.selectPoke{
	width: 100%;
	margin:auto;
	display: block;
	text-align: center;
	align-items: center;
  	justify-content: center;
}

#listPoke{
	margin:auto;
	text-align: center;
	align-items: center;
  	justify-content: center;
}

.pokeType{
	border: 5px solid rgba(0, 17, 255, 0.212);
	margin: 5px;
}

.photo1 img, .photo2 img{
	width: 150px;
	height: 150px;
}

.type1 img, .type2 img{
	width: 30%;
	height: auto;
}

.col-6{
	text-align: center !important;
}


.form-control,
.btn {
	margin: 20px auto !important;
	display: block !important;
	text-align: center !important;
}

.card {
	width: 100% !important;
	height: auto;
	margin: 0 auto;
	display: block;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5) !important;
}


.description1, .description2 {
	text-align: justify;
	width:80%;
	padding: 1vw;
	margin:auto;
	background-color: rgba(255, 255, 255, 0.548);
	border-radius: 1vw;
	border: 2px dashed black;
}

#chartContainer1,#chartContainer2{
	padding-top:0%;
}


h1 {
	color: #00374f;
	font-size: 60% !important;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.menu a{
	width: 80%;
}


#imagenGrande{
	align-self: center;
}


.imgPrincipal{
	width: 100%;
}

.nombre{
	font-size:200%;
}

